<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Task Mantra - Digital Women Empowerment | Beta Version</title>
        <meta name="keywords" content="Digital India, Women empowerment, free online jobs, easy tasks, jobs for women’s, internet of things, jobs in India, online tasks, online 
                         assignments, online projects, copy and paste works, training jobs, earn money online, women task">
        <meta name="description" content="We Empower Women Entrepreneurs and Create Greater Impact When Effectively Engage Digital World and Internet of Things">

	<meta name="author" content="">

	<!-- Site Icons -->
	<link rel="apple-touch-icon" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/img/apple-touch-icon.png">
	<!--<link rel="icon" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/img/icon.ico">-->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- Framework -->
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/css/vendor/bootstrap.min.css">

	<!-- Icon Fonts -->
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/entypo/entypo.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/fa/css/font-awesome.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/flag-icon/css/flag-icon.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/material-icon/material-icon.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/weather-icon/css/weather-icons.min.css">

	<!-- Plugins -->
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/datatable/datatables.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/datepicker/css/datepicker.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/medium-editor/css/medium-editor.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/medium-editor/css/themes/bootstrap.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/morris/morris.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/prettify/themes/tomorrow-night.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/selectize/css/selectize.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/sortable/sortable.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/stepy/jquery.stepy.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/pace/pace.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/summernote/summernote.min.css">

	<!-- Main Template CSS -->
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/css/bootstrap.custom.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/css/style.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/css/helper.css">
		<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/vendor/modernizr.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/vendor/jquery.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/vendor/bootstrap.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/vendor/raphael.min.js"></script>

	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/ismobile/isMobile.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/blockui/blockui.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/prettify/prettify.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/clipboard/clipboard.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/filestyle/bootstrap-filestyle.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/pace/pace.min.js"></script>




	<!-- Template Js -->
<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/datatable/datatables.min.js"></script>
<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/datatable/datatables-example.js"></script>


	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/apps.js"></script>
<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/layout-default.js"></script>
<script type="text/javascript">
function myNotification()
{

var myidd={var name='myids'};
$('span').removeClass("circle-notification");
 $.ajax({
            url : 'chk_avail.php?uidd='+myidd+'&type=notify',
            type: "GET",
            data: $(this).serialize(),
            success: function (data) {

             
            
         
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
}


</script>
<style>
.grey{color:#A9A9A9;font-family:}
nav {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

nav:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
</style>

</head>


<body>

	

	<div id="rs-wrapper" class="bg-darken">

		<!-- BEGIN MAIN HEADER NAV -->
		<nav class="navbar navbar-default rs-navbar navbar-static-top" id="header_part" >
			<div class="container">

				<!-- 
				Begin navbar header
				Brand and toggle get grouped for better mobile display 
				-->
				<div class="navbar-header">

					<!-- Begin Logo Brand 
					Available class : .fixed-width
					-->
					<div class="rs-logo fixed-width">
						<!-- Main Image logo -->
						<!--<a class="navbar-brand" href="index.html">
						<img alt="Brand" src="{var name='siteurl'}/templates/bs_wtk/taskmantra_user/dist/img/login-logo-02.png">
						</a>
						<!-- Main small logo -->
						<!-- <a class="navbar-brand" href="index.html">
						<img alt="Brand" src="{var name='siteurl'}/templates/bs_wtk/taskmantra_user/dist/img/login-logo-02.png">
						</a> -->
						<!-- Text logo -->
						<!-- <a class="navbar-brand text-uppercase rs-brand-text" href="index.html">
						Roosa
						</a> -->
						<!-- Initial text / icon logo -->
						<!-- <a class="navbar-brand rs-brand-text brand-initial" href="index.html">
						<i class="gcon gcon-twitter text-info"></i>
						</a> -->
						
						<a href="{var name='siteurl'}">
                        {if name='logo_type' op='==' value='text'}
                        <span>
                            {var name='logo_text'}
                        </span>
                        {else}
                        
                        
                         <img  class="img-fluid" alt="logo" src="{var name='siteurl'}/taskmantra_logo.png" style="width: 76px;"/>


                        {/if}
                    </a>
					
						
					</div><!-- /.rs-logo -->
					<!-- End Logo Brand -->

					<!-- Begin button to toggle sidebar -->
			<!--<button type="button" class="navbar-toggle collapsed sidebar-toggle" id="rs-sidebar-toggle-mobile">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>-->
					<!-- End button to toggle sidebar -->

					<!-- Begin button to toggle navbar element -->
				<!--	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse in" data-target="#roosa-nav-collapse" aria-expanded="true" >
						<span class="gcon gcon-dots-three-vertical f-s-sm"></span>
					</button> -->
					<!-- End button to toggle navbar element -->

				</div><!-- /.navbar-header -->
				<!-- End Navbar header -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="roosa-nav-collapse">

					<!-- All left content goes here -->
					<!--{var name='membercount'}-->
					<div class="navbar-left">
								<div class="col-sm-12" style="margin-left:300px;padding-top: 30px;" >
					
                                 <span class="col-sm-2"> <a href="index.php" class="grey">HOME </a></span>
                                  
                               
                                <span class="col-sm-2"> <a  href="https://task.taskmantra.com/why_us.php" class="grey">WHY US</a></span>
                              
                                         
                                 <span class="col-sm-3"> <a  href="https://task.taskmantra.com/how_works.php" class="grey">HOW IT WORKS</a></span>
                                 
                                   <span class="col-sm-2"> <a  href="https://task.taskmantra.com/contact_us.php" class="grey">SUPPORT</a></span>
                          
								</div>
												

				</div><!-- /.collapse navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<!-- END MAIN HEADER NAV -->
