<div class="nav-container">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 col-sm-2">
                            <a href="index.php">  
                              <img  class="img-fluid" alt="logo" src="{var name='siteurl'}/internetarbit.png" style="width:100%;margin-top: 10px;"/>
                            </a>
                        </div>
                        <div class="col-xs-7 col-sm-2 text-right">
                             
                            <a href="index.php">  
                              <img  class="img-fluid" alt="logo" src="{var name='siteurl'}/taskmantra_logo.png" style="width:25%;"/>
                            </a>
                            <a href="../home.php" class="btn"><i class="fa fa-arrow-left" aria-hidden="true"> </i> DASHBOARD</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm bar--absolute" style="height: 90px !important">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-2 hidden-xs">
                            <div class="bar__module" >
                                <a href="index.php">
                                   <img  class="img-fluid" alt="logo" src="{var name='siteurl'}/internetarbit.png" style="width:100%;"/>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                         <div class="col-md-8 col-sm-2 hidden-xs" style="text-align:right;padding-top: 20px;">
                             <a href="../home.php" class="btn"><i class="fa fa-arrow-left" aria-hidden="true"> </i>  DASHBOARD</a>
                         </div>
                        <div class="col-md-1 col-sm-12 text-right text-left-xs">
                            <div class="bar__module">
                                <a href="index.php">
                                   <img  class="img-fluid" alt="logo" src="{var name='siteurl'}/taskmantra_logo.png" style="width: 100%;"/>
                                </a>
                            </div>
                            <!--end module-->
                           
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>  
    <!-- /Header -->