<!DOCTYPE html>
<html lang=en>

<head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97697250-1', 'auto');
  ga('send', 'pageview');

</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Task Mantra - Digital Women Empowerment | Beta Version</title>
        <meta name="keywords" content="Digital India, Women empowerment, free online jobs, easy tasks, jobs for women’s, internet of things, jobs in India, online tasks, online 
                         assignments, online projects, copy and paste works, training jobs, earn money online, women task">
        <meta name="description" content="We Empower Women Entrepreneurs and Create Greater Impact When Effectively Engage Digital World and Internet of Things">

	<meta name="author" content="">
	<meta property="og:url" content="https://taskmantra.com/" />
	<meta property="og:image" content="https://www.taskmantra.com/templates/bs_wtk/images/taskmantra_img/avatar-large-3.png" />

	<!-- Site Icons -->
	<link rel="apple-touch-icon" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/img/apple-touch-icon.png">
	<!--<link rel="icon" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/img/icon.ico">-->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- Framework -->
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/css/vendor/bootstrap.min.css">

	<!-- Icon Fonts -->
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/entypo/entypo.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/fa/css/font-awesome.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/flag-icon/css/flag-icon.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/material-icon/material-icon.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/icons/weather-icon/css/weather-icons.min.css">

	<!-- Plugins -->
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/datatable/datatables.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/datepicker/css/datepicker.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/medium-editor/css/medium-editor.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/medium-editor/css/themes/bootstrap.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/morris/morris.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/prettify/themes/tomorrow-night.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/selectize/css/selectize.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/sortable/sortable.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/stepy/jquery.stepy.min.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/pace/pace.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/summernote/summernote.min.css">
	

	<!-- Main Template CSS -->
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/css/bootstrap.custom.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/css/style.css">
	<link rel="stylesheet" href="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/css/helper.css">
		<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/vendor/modernizr.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/vendor/jquery.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/vendor/bootstrap.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/vendor/raphael.min.js"></script>

	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/ismobile/isMobile.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/blockui/blockui.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/prettify/prettify.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/clipboard/clipboard.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/filestyle/bootstrap-filestyle.min.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/pace/pace.min.js"></script>




	<!-- Template Js -->
<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/datatable/datatables.min.js"></script>
<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/plugins/datatable/datatables-example.js"></script>


	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/apps.js"></script>
	<script src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/js/layout-default.js"></script>
<script type="text/javascript">
function myNotification()
{

var myidd={var name='myids'};
$('span').removeClass("circle-notification");
 $.ajax({
            url : 'chk_avail.php?uidd='+myidd+'&type=notify',
            type: "GET",
            data: $(this).serialize(),
            success: function (data) {

             
            
         
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
}


</script>

</head>


<body>

	

	<div id="rs-wrapper">

		<!-- BEGIN MAIN HEADER NAV -->
		<nav class="navbar navbar-default rs-navbar navbar-static-top">
			<div class="container-fluid">

				<!-- 
				Begin navbar header
				Brand and toggle get grouped for better mobile display 
				-->
				<div class="navbar-header has-right-divider">

					<!-- Begin Logo Brand 
					Available class : .fixed-width
					-->
					<div class="rs-logo fixed-width">
						<!-- Main Image logo -->
						<!--<a class="navbar-brand" href="index.html">
						<img alt="Brand" src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/img/logo.png">
						</a>
						<!-- Main small logo -->
						<!-- <a class="navbar-brand" href="index.html">
						<img alt="Brand" src="{var name='siteurl'}/templates/{var name='templatedir'}/taskmantra_user/dist/img/logo-small.png">
						</a> -->
						<!-- Text logo -->
						<!-- <a class="navbar-brand text-uppercase rs-brand-text" href="index.html">
						Roosa
						</a> -->
						<!-- Initial text / icon logo -->
						<!-- <a class="navbar-brand rs-brand-text brand-initial" href="index.html">
						<i class="gcon gcon-twitter text-info"></i>
						</a> -->
						
						<a href="{var name='siteurl'}">
                        {if name='logo_type' op='==' value='text'}
                        <span>
                            {var name='logo_text'}
                        </span>
                        {else}
                        <img alt="Taskmantra" src="https://taskmantra.com/taskmantra_logo.png" alt="{var name='sitename'}" style="
    max-width: 57%;
    max-height: 100%;
"/>

                        {/if}
                    </a>
					
						
					</div><!-- /.rs-logo -->
					<!-- End Logo Brand -->

					<!-- Begin button to toggle sidebar -->
			<button type="button" class="navbar-toggle collapsed sidebar-toggle" id="rs-sidebar-toggle-mobile">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- End button to toggle sidebar -->

					<!-- Begin button to toggle navbar element -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse in" data-target="#roosa-nav-collapse" aria-expanded="true" >
						 <!--<span class="gcon gcon-dots-three-vertical f-s-sm"></span>-->
					</button>
					<!-- End button to toggle navbar element -->

				</div><!-- /.navbar-header -->
				<!-- End Navbar header -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse in" id="roosa-nav-collapse">

					<!-- All left content goes here -->
					{var name='membercount'}
					<div class="navbar-left">

				<!---		<ul class="nav navbar-nav">
							<li class="navbar-icon dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="gcon gcon-globe"></i>
									<span class="visible-xs-inline-block text-menu">Connected Accounts</span>
								</a>
								<ul class="dropdown-menu p-b-0 p-t-0">
									<li class="dropdown-header text-uppercase has-divider hidden-xs">Connected Accounts</li>

									<li>
										<ul class="grid-dropdown scroll-dropdown rs-scroll-custom">
											<li>
												<a href="javascript:void(0);">
													<img src="../images/icons/logotype/google-play.png" class="rs-dropdown-img" alt="Icon">
													Play
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<img src="../images/icons/logotype/dropbox.png" class="rs-dropdown-img" alt="Icon">
													Dropobox
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<img src="../images/icons/logotype/dribbble.png" class="rs-dropdown-img" alt="Icon">
													Dribbble
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<img src="../images/icons/logotype/drive.png" class="rs-dropdown-img" alt="Icon">
													Drive
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<img src="../images/icons/logotype/skype.png" class="rs-dropdown-img" alt="Icon">
													Skype
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<img src="../images/icons/logotype/github.png" class="rs-dropdown-img" alt="Icon">
													Github
												</a>
											</li>
										</ul>
									</li>

									<li class="text-center bottom-button"><a href="javascript:void(0);">All Accounts</a></li>
								</ul>
							</li>
						</ul>-->

						<!-- Begin nav search form -->
						<!--<form class="navbar-form navbar-left">
							<div class="form-group has-feedback">
								<input type="text" class="form-control" placeholder="Search and hit enter">
								<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
							</div>
						</form>-->
						<!-- End nav search form -->

					</div><!-- /.navbar-left -->
					<!-- End navbar left content -->

					<!-- All right content goes here -->
					
					<div class="navbar-right">

						<ul class="nav navbar-nav">
							<!--<li class="navbar-icon dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="gcon gcon-shopping-bag"></i>
									<span class="visible-xs-inline-block text-menu">Your Cart</span>
								</a>
								<ul class="dropdown-menu xl-dropdown p-b-0 p-t-0">
									<li class="dropdown-header text-uppercase has-divider hidden-xs">
										Your cart
									</li>
									<li class="dropdown-empty-state text-center">
										<span class="empty-icon m-b-md"><img src="../images/icons/basic/store.png" alt="Icon"></span>
										<p>You don't have any product</p>
										<p><a class="btn btn-success">Add some</a></p>
									</li>
								</ul>
							</li>-->
                               
							<li class="navbar-icon dropdown">
				<a href="javascript:void(0);" onclick="myNotification()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id ="notific">
									<span class="{var name='ntcount'}"></span>
									<i class="gcon gcon-bell"></i>
									<span class="visible-xs-inline-block text-menu">Notifications</span>
								</a>
								<ul class="dropdown-menu xl-dropdown p-b-0 p-t-0">
									
                                                       <li class="dropdown-header text-uppercase has-divider hidden-xs">
										Notifications
										<span class="label label-success m-l">{var name='count_notification'}</span>
									</li>

									<li>
							<ul class="rs-inner-dropdown has-divider media-menu scroll-dropdown rs-scroll-custom">
									 {loop name='notificat'}
									<li class="new"><a href="javascript:void(0);">
									<span class="media img-circle bg-primary">AD</span>
									<span class="id">{var name='nottitle'}</span><br/> 
{var name='notifications'}
									<span class="time small">About {var name='dayleft'}</span>
											</a></li>
									{/loop}
									
										</ul>
									</li>
									<li class="text-center bottom-button"><a href="javascript:void(0);">View all notifications</a></li>
								</ul>
							</li>
							<!-- <li class="navbar-icon">
								<a href="javascript:void(0);">
									<i class="gcon gcon-lifebuoy"></i>
									<span class="visible-xs-inline-block text-menu">Help &amp; Support</span>
								</a>
							</li> -->
						</ul>

						<ul class="nav navbar-nav">
							<!-- Begin user menu -->
							<li class="rs-user-nav dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="circle-notification badge-notification bg-success"></span>
									<img src="{var name='siteurl'}/m_photos/thumbs/{varname=mem_photo }" class="rs-nav-avatar img-circle" alt="Avatar">
									<span class="visible-xs-inline-block m-l">Welcome, <strong>{varname=welcome_firstname}&nbsp;{varname=welcome_lastname}</strong></span>
								</a>
								<!-- Dropdown -->
								<ul class="dropdown-menu lg-dropdown">
									<li class="inherit-bg">
										<a href="javascript:void(0);">
											<span class="f-s-xs f-w-500">Username: <strong>{varname=welcome_username }</strong></span><br />
		<small class="text-muted">ID :<strong class="m-l-xs text-success"></strong>{varname=welcome_userid}</small>
		<br/>									
											<small class="text-muted">RANK :<strong class="m-l-xs text-success"></strong>{varname=rank_user}</small>
										</a>
									</li>
									<li role="separator" class="divider"></li>
									<li class="dropdown-header text-uppercase">Account Settings</li>
									<li class="menu-icon"><a href="application_form.php"><span class="mcon mcon-face rs-dropdown-icon"></span>My Account</a></li>
									<li class="menu-icon"><a href="account_settings.php"><span class="gcon gcon-cog rs-dropdown-icon"></span>Account Settings</a></li>
									<!--<li class="menu-icon"><a href="javascript:void(0);"><span class="gcon gcon-lock-open rs-dropdown-icon"></span>Change Password</a></li>-->
									<li class="menu-icon"><a href="logout.php"><span class="mcon mcon-power_settings_new  rs-dropdown-icon"></span>Log Out</a></li>
								</ul>
								<!-- End dropdown -->
							</li>
							<!-- End user menu -->
						</ul>
					</div><!-- /.navbar-right -->
					<!-- End navbar right content -->

				</div><!-- /.collapse navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<!-- END MAIN HEADER NAV -->
