</div><!--/container-->
<footer class="footer navbar-default ">
    <!--<nav class="navbar navbar-default" role="navigation">-->

    <div class="row">
        <div class="col-xs-11 col-xs-offset-2 col-sm-5 col-sm-offset-1  col-md-5 col-md-offset-1">
            #COPYRIGHT#&COPY; {var name='copyright_year'} {var name='sitename'} &nbsp;&nbsp;
        </div>
        <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-3 ">
            {var name='footer_menu'}
        </div>
    </div>
    <!--</nav>-->
</footer>
<!--Add the following script at the bottom of the web page (before </body></html>)-->

</body>
</html>